@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@*GOOGLEAR CARD BOOTSTRAP 5*@
@*GOOGLEAR FORM BOOTSTRAP 5*@
@*GOOGLEAR TABLE BOOTSTRAP 5*@

<div class="card">
  <div class="card-header">
    VENTA
  </div>
  <div class="card-body">

    <div class="row">
        <div class="col-sm-4">
             <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Numero Documento</label>
                <input type="email" class="form-control form-control-sm" id="txtnumerodocumento">
              </div>
        </div>
        <div class="col-sm-4">
             <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Razon Social</label>
                <input type="email" class="form-control form-control-sm" id="txtrazonsocial">
              </div>
        </div>
    </div>

    <hr />

    <div class="row align-items-end">
        <div class="col-sm-3">
             <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Producto</label>
                <input type="email" class="form-control form-control-sm" id="txtproducto">
              </div>
        </div>
        <div class="col-sm-3">
             <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Precio</label>
                <input type="email" class="form-control form-control-sm" id="txtprecio">
              </div>
        </div>
        <div class="col-sm-3">
             <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Cantidad</label>
                <input type="email" class="form-control form-control-sm" id="txtcantidad">
              </div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-success mb-2 btn-sm" id="btnAgregar">Agregar</button>
            <button class="btn btn-primary mb-2 btn-sm" id="btnTerminar">Terminar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-sm" id="tbProducto">
              <thead>
                <tr class="table-dark">
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </div>
    </div>

  </div>
</div>

@section Scripts{
    <script>
       
        $("#btnAgregar").on("click",function(){

            var total = parseFloat($("#txtprecio").val()) * parseFloat($("#txtcantidad").val())

            $("#tbProducto tbody").append(
                $("<tr>").append(
                    $("<td>").text( $("#txtproducto").val() ),
                    $("<td>").text($("#txtprecio").val()),
                    $("<td>").text($("#txtcantidad").val()),
                    $("<td>").text(total)
                )
            )

            //OMITIR
            $("#txtproducto").val("")
            $("#txtprecio").val("")
            $("#txtcantidad").val("")
            $("#txtproducto").focus();

        })

         $("#btnTerminar").on("click",function(){

             var detalle_venta = []
             var total=0;

             $('table > tbody  > tr').each(function(index, tr) { 

               detalle_venta.push(
                    {
                        Producto: $(tr).find('td:eq(0)').text(),
                        Precio: parseFloat($(tr).find('td:eq(1)').text()),
                        Cantidad : parseInt( $(tr).find('td:eq(2)').text()),
                        Total :  parseFloat($(tr).find('td:eq(3)').text())
                    }
               )

               total = total + parseFloat($(tr).find('td:eq(3)').text())

            });

            console.log(detalle_venta)
            console.log(total)


             var Venta = {
                NumeroDocumento : $("#txtnumerodocumento").val(),
                RazonSocial : $("#txtrazonsocial").val(),
                Total : total,
                lstDetalleVenta :detalle_venta
             }

             jQuery.ajax({
                 url: '@Url.Action("GuardarVenta", "Home")',
                 type: "POST",
                 data: JSON.stringify(Venta),
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     console.log(data)
                     if(data.respuesta){
                        alert("Venta Registrada");
                     }
                 }
             });

        })

    </script>

}